.box {
    margin-left: -10px ;
    padding-top: 50px;
    padding-bottom: 50px;
}


.content_nav_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Navbar Profile */
.header-profile-one {
    display: flex;
    justify-content: center;
}
.header-profile-two {
    display: flex;
    justify-content: center;
}
.header-profile-three {
    display: flex;
    justify-content: center;
}
.header-profile-four {
    display: flex;
    justify-content: center;
}

.header-profile-one span {
    list-style: none;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #B4B4B4;
    text-align: center;
    /* width: 40%; */
}

.header-profile-one span:hover {
    list-style: none;
    color: #1A1A1A;
    font-weight: 600;
    user-select: none;
    border-bottom: 3px solid black;
}

.header-profile-two span {
    list-style: none;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #B4B4B4;
    text-align: center;
    /* width: 85%; */
}

.header-profile-two span:hover {
    list-style: none;
    color: #1A1A1A;
    font-weight: 600;
    user-select: none;
    border-bottom: 3px solid black;
}


.header-profile-three span {
    list-style: none; 
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #B4B4B4;
    text-align: center;
    /* width: 90%; */
}

.header-profile-three span:hover {
    list-style: none;
    color: #1A1A1A;
    font-weight: 600;
    user-select: none;
    border-bottom: 3px solid black;
}


.header-profile-four span {
    list-style: none; 
    margin-top: 10px;
    cursor: pointer;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #B4B4B4;
    text-align: center;
    /* width: 75%; */
}

.header-profile-four span:hover {
    list-style: none;
    color: #1A1A1A;
    font-weight: 600;
    user-select: none;
    border-bottom: 3px solid black;
}



@media only screen and (max-width: 1366px) {
    .box {
        margin-left: 55px;
    }
}

@media only screen and (max-width: 768px) {
    .box {
        margin-left: 0;
        
    }
    .header-profile-one {
        width: 25%;
    }
    .header-profile-two {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-profile-three {
        width: 25%;
    }
    .header-profile-four {
        width: 25%;
    }
    .header-profile-one span {
        list-style: none;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-profile-two span {
        list-style: none;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-profile-three span {
        list-style: none;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-profile-four span {
        list-style: none;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}