.background-profile-customer {
    background-image: url('../../../asset/profile/Mask.png');
    padding: 0 0 !important;
}

.tittle-content {
    padding: 75px 0;
}

.profile-tittle-one {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    
    color: #1A1A1A;
}

.profile-tittle-two {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #1A1A1A;
    margin-top: 20px;
}


.saller-name {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #1A1A1A;
}

.saller-role {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    color: #4D4D4D;
}



.label-profile {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    color: #4D4D4D;
}

.input-profile::placeholder {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #1A1A1A;
}

.input-profile {
    border: none;
    width: 275px;
}

.input-profile:focus{
    outline: none;
    border-bottom: 2px solid black;
}



.edit-profile{
    cursor: pointer;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #1A1A1A;
}

.edit-pencil > img {
    cursor: pointer;
}

.logout {
    width: 150px;
    height: 50px;
    border: none;
    background: #D94141;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.save-change {
    width: 150px;
    height: 50px;
    border: none;
    /* background: #e5de00; */
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 50px;
}