.page-title {
    position: relative;
    background-image: url(../../../asset/bg/bg-title-page.png);
    background-position: center;
    background-blend-mode: soft-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    isolation: isolate;
    padding: 2rem 0;
}

.page-title::after {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    z-index: -1;
    opacity: .9;
}

.page-title h1 {
    font-size: 4rem;
    font-weight: 400;
    color: #1A1A1A;
}

.page-title p {
    font-size: 1rem;
    font-weight: 400;
    color: #1A1A1A;
    padding: 1rem 0;
}