.comment_input {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #2F2F2F;
    margin-top: 40px;
}

.coment_input_desc {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #4D4D4D;
    margin-top: 10px;
}




.jarak_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.give_border {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.give_border > label {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1A1A1A;
    padding-right: 10px;
}

.give_border > input {
    border: none;
    
}

.give_border> input:focus {
    outline: none;
}




.isi_comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.content_isi_comment {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    /* padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px; */
    width: 100%;
    /* height: 200px; */
}

.content_isi_comment > label {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #1A1A1A;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.content_isi_comment > textarea {
    border: none;
    width: 100%;
}

.content_isi_comment> textarea:focus {
    outline: none;
}

.button_send {
    margin-top: 20px;
}

.button_send > button {
    padding: 10px 50px;
    border: none;
    background: #262626;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}




@media only screen and (max-width: 768px) {
    .jarak_button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 50px;
    }
    
}