.list-product-home-right {
    /* padding: 0 0 !important; */
    padding-right: 70px;
    padding-left: 0 !important;
}
.list-product-home-left {
    padding-left: 75px;
    padding-right: 0 !important;
}

.home-name-product {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 2px;
    color: #1A1A1A;
    padding: 100px 50px 30px 50px;
}

.home-desc-product {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 37px;
    color: #4D4D4D;
    padding: 20px 35px 50px 50px;
}

.content-rule {
    padding-left: 45px;
    padding-bottom: 60px;
}
.rules {
    border-bottom: 3px solid black;
    width: 15%;
}
.shop-now {
    margin-left: 20px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #1A1A1A;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    .list-product-home-right {
        padding-right: 50px !important;
        padding-left: 50px !important;
    }
    .list-product-home-right > img{
        height: 100%;
    }
    .list-product-home-left {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .list-product-home-left > img {
        height: 100%;
    }
}