.card-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card-product:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.card-product .image {
    padding: 1rem;
    box-shadow: 0px 30px 60px rgb(57 57 57 / 10%);
}

.card-product .image img {
    width: 13rem;
    aspect-ratio: 1;
}

.card-product .name h1 {
    font-size: 1rem;
    font-weight: 400;
    color: #1A1A1A;
}

.card-product .price p {
    font-size: 1.2rem;
    font-weight: 700;
    color: #1A1A1A;
}

@media screen and (max-width: 768px) {
    /* .card-product .image img {
        width: 15rem;
    } */
}

@media screen and (max-width: 576px) {
    
    .card-product .image img {
        width: 4rem;
    }

    .card-product .name h1 {
        /* display: none; */
        /* max-width: min-content; */
        font-size: .5rem;
    }
    
    .card-product .price p {
        /* display: none; */
        font-size: 1rem;
        font-weight: 700;
        color: #1A1A1A;
    }
}