@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.main-content {
    display: flex;
    flex-direction: column;
    padding-right:50%;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 20%;
    background-color: black;
}

.text-main {
    color: white;
    font-family: 'Arimo';
    font-size: 70px;
}

.container-date {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10%;
    padding-right: 20%;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.number{
    font-family: 'Arimo';
    font-size: 70px;
}


.text-date {
    font-family: 'Arimo';
}

.subscribe-continer {
    display: flex;
    padding-top: 15%;
    padding-left: 10px;
    flex-direction: row;
    color: white;
}

.input {
    background-color: black;
    color:white;
    border:none;
    padding-right: 40%;
    border-bottom: 2px solid #FFFFFF;
    font-family: 'Arimo';
}

.subscribe-text {
    border-bottom: 2px solid #FFFFFF;
    font-family: 'Arimo';
    font-size: 20px;
    cursor: pointer;
}

.footer{
    display: flex;
    font-family: 'Arimo';
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    background-color: black;
    color: white;
    padding-bottom: 5%;
}

.logo-detail {
    padding-left: 5%;
    width: 30%;
}

.ikon {
    display: flex;
    justify-content: space-between;
    padding-left: 35%;
}

.around{
    padding: 20% 20% 2% 20%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5000px;
    border-color: #979797;
    margin-right: 15%;
}

.logo-name {
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    .main-content {
        padding-right: 0%;
    }
    .footer {
        flex-direction: column;
    }
    .around{
        border-style: solid;
        border-width: 1px;
        border-radius: 5000px;
        border-color: #979797;
        margin-right: 15%;
        padding: 5% 5% 5% 5%;
    }
    .ikon {
        margin-top: 5%;
        padding-left: 0%;
    }

    .logo-detail {
        margin-top: 5%;
        width: 50%
    }
}
@media only screen and (max-width: 428px) {
    .main-content {
        padding-left: 10%;
    }
    .around{
        margin-right: 2%;
    }
    .input{
        padding-right: 15%;
    }
    .container-date {
        padding-right: 5%;
    }
}