.page-title {
    position: relative;
    background-image: url(../../../asset/bg/bg-title-page.png);
    background-position: center;
    background-blend-mode: soft-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    isolation: isolate;
    padding: 2rem 0;
}

.page-title::after {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    z-index: -1;
    opacity: .9;
}

.page-title h1 {
    font-size: 4rem;
    font-weight: 400;
    color: #1A1A1A;
}

.page-title p {
    font-size: 1rem;
    font-weight: 400;
    color: #1A1A1A;
    padding: 1rem 0;
}

.inventory .title h1, .item-detail .title h1, .photo-good .title h1 {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 2rem 0;
}

.inventory form input, .item-detail form input {
    width: 100%;
}

.inventory form .name-good input, .item-detail form .unit-price input, .item-detail form .unit-stock input {
    padding: 1rem;
    border: 1px solid #CECECE;
}

.inventory form .desc-good textarea {
    background-color: #fff;
    width: 100%;
    padding: 5px 10px;
    resize: none;
    margin-top: 3rem;
    height: 30vh;
    border: 1px solid #CECECE;
}

.item-detail form .unit-price {
    margin-bottom: 3rem;
}

.product-condition .title h1, .brands .title h1, .colors .title h1, .category .title h1 {
    font-size: 1rem;
    padding: 1rem 0;
}

.product-condition .radio, .brands .radio, .colors .radio, .category .radio {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.colors .radio .form:nth-child(1) {
    border-bottom: .5rem solid #A17F25;
}

.colors .radio .form:nth-child(2) {
    border-bottom: .5rem solid #6B8FBE;
}

.colors .radio .form:nth-child(3) {
    border-bottom: .5rem solid #49453D;
}

.colors .radio .form:nth-child(4) {
    border-bottom: .5rem solid #504E86;
}

.colors .radio .form:nth-child(5) {
    border-bottom: .5rem solid #4E8651;
}

.colors .radio .form:nth-child(6) {
    border-bottom: .5rem solid #EEA437;
}

.photo-good {
    margin-bottom: 2rem;
}

.photo-good .add-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: .3rem dashed #CECECE;
    width: 10rem;
    aspect-ratio: 1;
    padding: 1rem;
}

.photo-good .add-photo i {
    font-size: 3rem;
    color: #CECECE;
}

.photo-good .add-photo p {
    text-align: center;
    font-size: .8rem;
    font-weight: 400;
    color: #CECECE;
}

